@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/nord/src/nord.css";
:root {
  --background-color: var(--nord3);
  --primary-text-color: var(--nord6);
  --secondary-text-color: #c4c9d2;
}

